<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/jyothi.dunaboyina/IdeaProjects/healeniumwithoutdocker">
        <classes>
            <class name="com.healenium.test.SauceDemoTest">
            </class>
        </classes>
    </test>
</suite>